.container {
    width: 90%;
    margin: 0 auto;
}
.btn {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    transition: all 300ms ease;
}
.img-fluid {
    max-width: 100%;
}
.targetIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20vh;
    @media screen and (max-width: 1083px) {
        gap: 40px;
    }
    @media screen and (max-width: 540px) {
        column-gap: 10px;
    }
    @media screen and (max-width: 455px) {
        justify-content: center;
    }
    .targetitem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 236px;
        height: 245px;
        flex-direction: column;
        border: 1px solid $textWhite;
        @media screen and (max-width: 568px) {
            width: 220px;
        }
        @media screen and (max-width: 499px) {
            width: 200px;
        }
        @media screen and (max-width: 455px) {
            width: 240px;
        }
        img {
            width: 50%;
        }
        span {
            margin-top: 12px;
            font-size: 20px;
            font-weight: 600;
            color: $textWhite;
        }
    }
}
.bars {
    display: none;
    font-size: 35px;
    color: $loginColor;
    cursor: pointer;
    @media screen and (max-width: 998px) {
        display: block;
    }
}
.show {
    left: -15px !important;
}
