$firstBg: #f5f5f5;
$textWhite: #ffffff;
$colortext: #0c0114;
$loginColor: #3e0563;
$targetBg: #1f0231;
$family: "Red Hat Display", sans-serif;
$btnBg: #eee8f2;
$inputPlaceholder: #bababa;
$titleColor: #fa9706;
$shadow: #262626;
$black: #000000;
$border: #d8cde0;
$Orcolor: #a6a6a6;
$titlePage: #808080;
