.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.img-fluid {
  max-width: 100%;
}

.targetIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20vh;
}

.targetIcons .targetitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 236px;
  height: 245px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ffffff;
}

.targetIcons .targetitem img {
  width: 50%;
}

.targetIcons .targetitem span {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif !important;
  list-style: none;
  text-decoration: none !important;
}

.header {
  background-color: #ffffff;
}

.header .Awardnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(3.5rem + 1.5rem);
  padding: 20px 0;
}

.header .Awardnav .award_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .Awardnav .award_nav .award_items .award_links {
  color: #0c0114;
  font-size: 16px;
  font-weight: 500;
}

.header .Awardnav .award_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .Awardnav .award_buttons .log {
  background-color: #eee8f2;
  color: #3e0563;
}

.header .Awardnav .award_buttons .create {
  background-color: #3e0563;
  color: #ffffff;
}

.sectionOne {
  background-color: #f5f5f5;
}

.sectionOne .firstSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 110px;
}

.sectionOne .firstSection .heading_place h1 {
  font-size: 96px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 115.2px;
}

.sectionOne .firstSection .searchNorminate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionOne .firstSection .searchNorminate .searchHere {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin-bottom: 15px;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 2px 16px;
  border-radius: 4px;
  border: 1px solid #bababa;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .searchIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control {
  width: 40vw;
  padding: 14px 13px;
  font-size: 18px;
  color: #0c0114;
  border: none !important;
  outline: none;
  background-color: transparent;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.sectionOne .firstSection .searchNorminate .searchHere .search .me {
  background-color: #3e0563;
  color: #ffffff;
  border: 1px solid #3e0563;
  padding: 14px 28px;
}

.sectionOne .firstSection .searchNorminate .viewCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  margin-bottom: 30px;
}

.sectionOne .firstSection .searchNorminate .viewCart .view {
  font-size: 18px;
  font-weight: 400;
  color: #0c0114;
}

.sectiontwo {
  background-image: url("/styles/CAImgs/sectiontwoBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sectiontwo .secondSection .sectionTwo_Title h2 {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding: 50px 0;
  padding-bottom: 80px;
  color: #ffffff;
}

.sectionthree {
  position: relative;
}

.sectionthree .thirdSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding: 48px 0;
  padding-top: 60px;
}

.sectionthree .thirdSection .connectAward img {
  width: 512px;
  height: 490px;
  border-radius: 4px;
}

.sectionthree .thirdSection .award_content {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.sectionthree .thirdSection .award_content h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0c0114;
  margin-bottom: 20px;
  position: relative;
}

.sectionthree .thirdSection .award_content h2::before {
  content: "";
  position: absolute;
  bottom: -0.39rem;
  left: 1.5%;
  width: 80px;
  height: 3px;
  background-color: #fa9706;
}

.sectionthree .thirdSection .award_content p {
  color: #0c0114;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 40px;
}

.sectionthree .thirdSection .award_content .learn {
  background-color: #3e0563;
  color: #ffffff;
  border: 1px solid #3e0563;
}

.sectionthree .leftSide {
  position: absolute;
  top: 411px;
  right: 0;
}

.sectionfour {
  position: relative;
}

.sectionfour .fourthSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 0;
  padding-top: 45px;
}

.sectionfour .fourthSection .celebrity_content {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.sectionfour .fourthSection .celebrity_content h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0c0114;
  margin-bottom: 20px;
  position: relative;
}

.sectionfour .fourthSection .celebrity_content h2::before {
  content: "";
  position: absolute;
  bottom: -0.39rem;
  left: 1.5%;
  width: 80px;
  height: 3px;
  background-color: #fa9706;
}

.sectionfour .fourthSection .celebrity_content p {
  color: #0c0114;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 40px;
}

.sectionfour .fourthSection .celebrity_content .learn {
  background-color: #3e0563;
  color: #ffffff;
  border: 1px solid #3e0563;
}

.sectionfour .fourthSection .celebrityAward {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.sectionfour .rightSide {
  position: absolute;
  top: 476px;
}

.sectionFive .fifthSection {
  padding: 48px 0;
}

.sectionFive .fifthSection .iconFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionFive .fifthSection .iconFour .secFour {
  border: 1px solid #bababa !important;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  height: 321px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0 4px #bababa;
          box-shadow: 0px 0 4px #bababa;
  padding: 12px;
}

.sectionFive .fifthSection .iconFour .secFour img {
  margin-bottom: 20px;
}

.sectionFive .fifthSection .iconFour .secFour h3 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #3e0563;
  margin-bottom: 10px;
}

.sectionFive .fifthSection .iconFour .secFour p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #0c0114;
}

.footer {
  background-image: url("/styles/CAImgs/footerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .footerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9rem;
  padding: 50px 0;
}

.footer .footerRow .footerCol h4 {
  color: #fa9706;
}
/*# sourceMappingURL=style.css.map */