@import "./modules/varibles";
@import "./modules/classes";
@import "./modules/reset";

.header {
    background-color: $textWhite;
    .Awardnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: calc(3.5rem + 1.5rem);
        padding: 20px 0;
        .award_nav {
            display: flex;
            justify-content: space-between;
            width: 60%;
            align-items: center;
            .award_items {
                .award_links {
                    color: $colortext;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
        .award_buttons {
            display: flex;
            gap: 1.5rem;
            align-items: center;
            .log {
                background-color: $btnBg;
                color: $loginColor;
            }
            .create {
                background-color: $loginColor;
                color: $textWhite;
            }
        }
    }
}
.sectionOne {
    background-color: $firstBg;
    .firstSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 110px;
        .heading_place {
            h1 {
                font-size: 96px;
                font-weight: 500;
                text-align: center;
                margin-top: 40px;
                margin-bottom: 20px;
                line-height: 115.2px;
            }
        }
        .searchNorminate {
            width: 100%;
            display: flex;
            flex-direction: column;
            .searchHere {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 1.5rem;
                margin-bottom: 15px;
                .searchInput {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1.5rem;
                    padding: 2px 16px;
                    border-radius: 4px;
                    border: 1px solid $inputPlaceholder;
                    .searchIcon {
                        display: flex;
                    }
                    .input-control {
                        width: 40vw;
                        padding: 14px 13px;
                        font-size: 18px;
                        color: $colortext;
                        border: none !important;
                        outline: none;
                        background-color: transparent;
                        &::placeholder {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
                .search {
                    .me {
                        background-color: $loginColor;
                        color: $textWhite;
                        border: 1px solid $loginColor;
                        padding: 14px 28px;
                    }
                }
            }
            .viewCart {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 9px;
                margin-bottom: 30px;
                .view {
                    font-size: 18px;
                    font-weight: 400;
                    color: $colortext;
                }
            }
        }
    }
}
.sectiontwo {
    background-image: url("/styles/CAImgs/sectiontwoBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: fit-content;
    .secondSection {
        .sectionTwo_Title {
            h2 {
                font-size: 48px;
                font-weight: 400;
                text-align: center;
                padding: 50px 0;
                padding-bottom: 80px;
                color: $textWhite;
            }
        }
    }
}
.sectionthree {
    position: relative;
    .thirdSection {
        display: flex;
        gap: 4rem;
        padding: 48px 0;
        padding-top: 60px;
        .connectAward {
            img {
                width: 512px;
                height: 490px;
                border-radius: 4px;
            }
        }
        .award_content {
            flex-basis: 33%;
            h2 {
                font-size: 30px;
                font-weight: 600;
                color: $colortext;
                margin-bottom: 20px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -0.39rem;
                    left: 1.5%;
                    width: 80px;
                    height: 3px;
                    background-color: $titleColor;
                }
            }
            p {
                color: $colortext;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 40px;
            }
            .learn {
                background-color: $loginColor;
                color: $textWhite;
                border: 1px solid $loginColor;
            }
        }
    }
    .leftSide {
        position: absolute;
        top: 411px;
        right: 0;
    }
}
.sectionfour {
    position: relative;
    .fourthSection {
        display: flex;
        justify-content: space-between;
        padding: 48px 0;
        padding-top: 45px;
        .celebrity_content {
            flex-basis: 33%;
            h2 {
                font-size: 30px;
                font-weight: 600;
                color: $colortext;
                margin-bottom: 20px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -0.39rem;
                    left: 1.5%;
                    width: 80px;
                    height: 3px;
                    background-color: $titleColor;
                }
            }
            p {
                color: $colortext;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 40px;
            }
            .learn {
                background-color: $loginColor;
                color: $textWhite;
                border: 1px solid $loginColor;
            }
        }
        .celebrityAward {
            display: grid;
            gap: 15px;
            grid-template-columns: auto auto;
        }
    }
    .rightSide {
        position: absolute;
        top: 476px;
    }
}
.sectionFive {
    .fifthSection {
        padding: 48px 0;
        .iconFour {
            display: flex;
            justify-content: space-between;
            .secFour {
                border: 1px solid $inputPlaceholder !important;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 350px;
                height: 321px;
                flex-direction: column;
                box-shadow: 0px 0 4px $inputPlaceholder;
                padding: 12px;
                img {
                    margin-bottom: 20px;
                }
                h3 {
                    font-size: 28px;
                    font-weight: 600;
                    text-align: center;
                    color: $loginColor;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 16px;
                    font-weight: 300;
                    text-align: center;
                    color: $colortext;
                }
            }
        }
    }
}
.footer {
    background-image: url("/styles/CAImgs/footerBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .footerRow {
        display: flex;
        gap: 9rem;
        padding: 50px 0;
        .footerCol {
            h4 {
                color: $titleColor;
            }
        }
    }
}
