.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.img-fluid {
  max-width: 100%;
}

.targetIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20vh;
}

@media screen and (max-width: 1083px) {
  .targetIcons {
    gap: 40px;
  }
}

@media screen and (max-width: 540px) {
  .targetIcons {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}

@media screen and (max-width: 455px) {
  .targetIcons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.targetIcons .targetitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 236px;
  height: 245px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ffffff;
}

@media screen and (max-width: 568px) {
  .targetIcons .targetitem {
    width: 220px;
  }
}

@media screen and (max-width: 499px) {
  .targetIcons .targetitem {
    width: 200px;
  }
}

@media screen and (max-width: 455px) {
  .targetIcons .targetitem {
    width: 240px;
  }
}

.targetIcons .targetitem img {
  width: 50%;
}

.targetIcons .targetitem span {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.bars {
  display: none;
  font-size: 35px;
  color: #3e0563;
  cursor: pointer;
}

@media screen and (max-width: 998px) {
  .bars {
    display: block;
  }
}

.show {
  left: -15px !important;
}

.rightSide {
  position: absolute;
  top: 476px;
}

@media screen and (max-width: 1026px) {
  .rightSide {
    top: 423px;
    width: 10%;
  }
}

@media screen and (max-width: 963px) {
  .rightSide {
    width: 9%;
    top: 440px;
  }
}

@media screen and (max-width: 915px) {
  .rightSide {
    top: 430px;
  }
}

@media screen and (max-width: 899px) {
  .rightSide {
    top: 410px;
  }
}

@media screen and (max-width: 812px) {
  .rightSide {
    width: 10%;
    top: 616px;
  }
}

@media screen and (max-width: 694px) {
  .rightSide {
    top: 861px;
  }
}

@media screen and (max-width: 618px) {
  .rightSide {
    width: 13%;
    top: 805px;
  }
}

@media screen and (max-width: 543px) {
  .rightSide {
    top: 790px;
  }
}

@media screen and (max-width: 491px) {
  .rightSide {
    top: 730px;
  }
}

@media screen and (max-width: 408px) {
  .rightSide {
    width: 15%;
    top: 690px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif !important;
  list-style: none;
  text-decoration: none !important;
  scroll-behavior: smooth;
}

.fa,
.fa-solid {
  font-family: "Font Awesome 6 Free" !important;
}

.heading_place h1 {
  font-size: 96px;
  font-weight: 500;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 115.2px;
}

@media screen and (max-width: 1384px) {
  .heading_place h1 {
    font-size: 90px;
  }
}

@media screen and (max-width: 1295px) {
  .heading_place h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 522px) {
  .heading_place h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 76.8px;
  }
}

@media screen and (max-width: 391px) {
  .heading_place h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 76.8px;
  }
}

@media screen and (max-width: 351px) {
  .heading_place h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 76.8px;
  }
}

@media screen and (max-width: 310px) {
  .heading_place h1 {
    font-size: 30px;
    line-height: 70px;
  }
}

.header {
  background-color: #ffffff;
}

.header .Awardnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(3.5rem + 1.5rem);
  padding: 20px 0;
  position: relative;
}

.header .Awardnav .awardlogo {
  z-index: 10;
}

.header .Awardnav .award_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1240px) {
  .header .Awardnav .award_nav {
    width: 55%;
  }
}

@media screen and (max-width: 1140px) {
  .header .Awardnav .award_nav {
    gap: 21px;
  }
}

@media screen and (max-width: 998px) {
  .header .Awardnav .award_nav {
    position: absolute;
    left: -1000vw;
    top: 55px;
    display: inline-block;
    width: 99vw;
    height: 336px;
    text-align: left;
    z-index: 1;
    background-color: #ffffff;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border-bottom: 1px solid #bababa;
  }
}

@media screen and (max-width: 998px) {
  .header .Awardnav .award_nav .award_items {
    margin-top: 40px;
    border-top: 1px solid #bababa;
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .Awardnav .award_nav .award_items .award_links {
  color: #0c0114;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 1140px) {
  .header .Awardnav .award_nav .award_items .award_links {
    font-size: 14px;
    color: #000000;
  }
}

@media screen and (max-width: 998px) {
  .header .Awardnav .award_nav .award_items .award_links {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    font-weight: 600;
  }
}

.header .Awardnav .award_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 998px) {
  .header .Awardnav .award_buttons {
    position: absolute;
    left: -1000vw;
    top: 387px;
    display: inline-block;
    width: 99vw;
    text-align: left;
    background-color: #ffffff;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
}

.header .Awardnav .award_buttons .log {
  background-color: #eee8f2;
  color: #3e0563;
}

@media screen and (max-width: 998px) {
  .header .Awardnav .award_buttons .log {
    display: block;
    background: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    border-top: 1px solid #bababa;
    height: 50px;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

.header .Awardnav .award_buttons .create {
  background-color: #3e0563;
  color: #ffffff;
}

@media screen and (max-width: 998px) {
  .header .Awardnav .award_buttons .create {
    display: block;
    background: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    height: 50px;
  }
}

.sectionOne {
  background-color: #f5f5f5;
}

.sectionOne .firstSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 110px;
  z-index: -2;
}

.sectionOne .firstSection .searchNorminate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionOne .firstSection .searchNorminate .searchHere {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin-bottom: 15px;
}

@media screen and (max-width: 381px) {
  .sectionOne .firstSection .searchNorminate .searchHere {
    gap: 1rem;
  }
}

@media screen and (max-width: 310px) {
  .sectionOne .firstSection .searchNorminate .searchHere {
    gap: 10px;
  }
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 2px 16px;
  border-radius: 4px;
  border: 1px solid #bababa;
}

@media screen and (max-width: 381px) {
  .sectionOne .firstSection .searchNorminate .searchHere .searchInput {
    padding: 2px 9px;
    gap: 12px;
  }
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .searchIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control {
  width: 40vw;
  padding: 14px 13px;
  font-size: 18px;
  color: #0c0114;
  border: none !important;
  outline: none;
  background-color: transparent;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 500;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 500;
}

.sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control::placeholder {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 381px) {
  .sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control {
    padding: 12px 4px;
  }
}

@media screen and (max-width: 300px) {
  .sectionOne .firstSection .searchNorminate .searchHere .searchInput .input-control {
    padding: 10px 2px;
  }
}

.sectionOne .firstSection .searchNorminate .searchHere .search .me {
  background-color: #3e0563;
  color: #ffffff;
  border: 1px solid #3e0563;
  padding: 14px 28px;
}

@media screen and (max-width: 300px) {
  .sectionOne .firstSection .searchNorminate .searchHere .search .me {
    padding: 10px 20px;
  }
}

.sectionOne .firstSection .searchNorminate .viewCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 9px;
  margin-bottom: 30px;
}

.sectionOne .firstSection .searchNorminate .viewCart .view {
  font-size: 18px;
  font-weight: 400;
  color: #0c0114;
}

.sectionOne .firstSection .searchNorminate .viewCart i {
  font-size: 16px;
  color: #000000;
}

.sectiontwo {
  background-image: url("/styles/CAImgs/sectiontwoBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 400px) {
  .sectiontwo {
    background-position-x: -146px;
  }
}

.sectiontwo .secondSection .sectionTwo_Title h2 {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding: 50px 0;
  padding-bottom: 80px;
  color: #ffffff;
}

@media screen and (max-width: 466px) {
  .sectiontwo .secondSection .sectionTwo_Title h2 {
    font-size: 36px;
    font-weight: 500;
  }
}

.sectionthree {
  position: relative;
}

.sectionthree .thirdSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  padding: 48px 0;
  padding-top: 60px;
}

@media screen and (max-width: 812px) {
  .sectionthree .thirdSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sectionthree .thirdSection .connectAward img {
  width: 512px;
  height: 490px;
  border-radius: 4px;
}

@media screen and (max-width: 1026px) {
  .sectionthree .thirdSection .connectAward img {
    width: 362px;
    height: 372px;
  }
}

.sectionthree .thirdSection .award_content {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.sectionthree .thirdSection .award_content h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0c0114;
  margin-bottom: 20px;
  position: relative;
}

.sectionthree .thirdSection .award_content h2::before {
  content: "";
  position: absolute;
  bottom: -0.39rem;
  left: 0.5%;
  width: 80px;
  height: 3px;
  background-color: #fa9706;
}

@media screen and (max-width: 1114px) {
  .sectionthree .thirdSection .award_content h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 1114px) {
  .sectionthree .thirdSection .award_content h2 {
    font-size: 20px;
  }
}

.sectionthree .thirdSection .award_content p {
  color: #0c0114;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 40px;
}

@media screen and (max-width: 956px) {
  .sectionthree .thirdSection .award_content p {
    font-size: 15px;
  }
}

.sectionthree .thirdSection .award_content .learn {
  background-color: #3e0563;
  color: #ffffff;
  border: 1px solid #3e0563;
}

.sectionthree .leftSide {
  position: absolute;
  top: 421px;
  right: 0;
}

@media screen and (max-width: 1026px) {
  .sectionthree .leftSide {
    width: 10%;
    top: 383px;
  }
}

@media screen and (max-width: 912px) {
  .sectionthree .leftSide {
    width: 11.5%;
  }
}

@media screen and (max-width: 812px) {
  .sectionthree .leftSide {
    top: 635px;
  }
}

@media screen and (max-width: 806px) {
  .sectionthree .leftSide {
    width: 12%;
    top: 660px;
  }
}

@media screen and (max-width: 695px) {
  .sectionthree .leftSide {
    width: 13%;
  }
}

@media screen and (max-width: 625px) {
  .sectionthree .leftSide {
    top: 693px;
  }
}

@media screen and (max-width: 520px) {
  .sectionthree .leftSide {
    top: 724px;
    width: 15%;
  }
}

.sectionfour {
  position: relative;
}

.sectionfour .fourthSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 0;
  padding-top: 45px;
}

@media screen and (max-width: 812px) {
  .sectionfour .fourthSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2rem;
  }
}

.sectionfour .fourthSection .celebrity_content {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.sectionfour .fourthSection .celebrity_content h2 {
  font-size: 30px;
  font-weight: 600;
  color: #0c0114;
  margin-bottom: 20px;
  position: relative;
}

.sectionfour .fourthSection .celebrity_content h2::before {
  content: "";
  position: absolute;
  bottom: -0.39rem;
  left: 0.5%;
  width: 80px;
  height: 3px;
  background-color: #fa9706;
}

@media screen and (max-width: 918px) {
  .sectionfour .fourthSection .celebrity_content h2 {
    font-size: 20px;
  }
}

.sectionfour .fourthSection .celebrity_content p {
  color: #0c0114;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 40px;
}

@media screen and (max-width: 918px) {
  .sectionfour .fourthSection .celebrity_content p {
    font-size: 14px;
  }
}

.sectionfour .fourthSection .celebrity_content .learn {
  background-color: #3e0563;
  color: #ffffff;
  border: 1px solid #3e0563;
}

.sectionfour .fourthSection .celebrityAward {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

@media screen and (max-width: 1026px) {
  .sectionfour .fourthSection .celebrityAward {
    width: 50%;
  }
}

@media screen and (max-width: 694px) {
  .sectionfour .fourthSection .celebrityAward {
    width: 98%;
  }
}

.sectionFive .fifthSection {
  padding: 53px 0;
}

@media screen and (max-width: 812px) {
  .sectionFive .fifthSection {
    padding: 88px 0;
  }
}

.sectionFive .fifthSection .iconFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 947px) {
  .sectionFive .fifthSection .iconFour {
    row-gap: 3rem;
  }
}

@media screen and (max-width: 633px) {
  .sectionFive .fifthSection .iconFour {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sectionFive .fifthSection .iconFour .secFour {
  border: 1px solid #bababa !important;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 350px;
  height: 321px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0 4px #bababa;
          box-shadow: 0px 0 4px #bababa;
  padding: 12px;
}

@media screen and (max-width: 1209px) {
  .sectionFive .fifthSection .iconFour .secFour {
    width: 300px;
  }
}

@media screen and (max-width: 1007px) {
  .sectionFive .fifthSection .iconFour .secFour {
    width: 285px;
  }
}

.sectionFive .fifthSection .iconFour .secFour img {
  margin-bottom: 20px;
}

.sectionFive .fifthSection .iconFour .secFour h3 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: #3e0563;
  margin-bottom: 10px;
}

.sectionFive .fifthSection .iconFour .secFour p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #0c0114;
}

.footer {
  background-image: url("/styles/CAImgs/footerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .footerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9rem;
  padding: 50px 0;
  padding-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1113px) {
  .footer .footerRow {
    gap: 4rem;
  }
}

@media screen and (max-width: 846px) {
  .footer .footerRow {
    row-gap: 1.5rem;
  }
}

@media screen and (max-width: 568px) {
  .footer .footerRow {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .footer .footerRow .footerCol {
    width: 36%;
  }
}

.footer .footerRow .footerCol h4 {
  color: #fa9706;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 25px;
}

.footer .footerRow .footerCol ul li {
  margin-bottom: 20px;
}

.footer .footerRow .footerCol ul li a {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

.footer .footerRow .footerCol ul li a:hover {
  padding-left: 4px;
}

@media screen and (max-width: 568px) {
  .footer .footerRow .footerCol ul li a {
    font-size: 12px;
  }
}

.footer .footerLogo {
  margin-bottom: 15px;
}

@media screen and (max-width: 500px) {
  .footer .footerLogo {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 400px) {
  .footer .footerLogo img {
    width: 41%;
  }
}

.footer .copyRitearea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  padding-bottom: 80px;
}

@media screen and (max-width: 500px) {
  .footer .copyRitearea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    row-gap: 3rem;
  }
}

.footer .copyRitearea p,
.footer .copyRitearea span {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .footer .copyRitearea p,
  .footer .copyRitearea span {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */