@import "./modules/varibles";
@import "./modules/classes";
@import "./modules/reset";

// Landing page start
.header {
    background-color: $textWhite;
    .Awardnav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: calc(3.5rem + 1.5rem);
        padding: 20px 0;
        position: relative;
        .awardlogo {
            z-index: 10;
        }
        .award_nav {
            display: flex;
            justify-content: space-between;
            width: 60%;
            align-items: center;
            @media screen and (max-width: 1240px) {
                width: 55%;
            }
            @media screen and (max-width: 1140px) {
                gap: 21px;
            }
            @media screen and (max-width: 998px) {
                position: absolute;
                left: -1000vw;
                top: 55px;
                display: inline-block;
                width: 95vw;
                height: 336px;
                text-align: left;
                z-index: 1;
                background-color: $textWhite;
                transition: all 300ms ease;
                border-bottom: 1px solid $inputPlaceholder;
            }
            .award_items {
                @media screen and (max-width: 998px) {
                    margin-top: 40px;
                    border-top: 1px solid $inputPlaceholder;
                    padding-left: 20px;
                    display: flex;
                }
                .award_links {
                    color: $colortext;
                    font-size: 16px;
                    font-weight: 500;
                    @media screen and (max-width: 1140px) {
                        font-size: 14px;
                        color: $black;
                    }
                    @media screen and (max-width: 998px) {
                        transform: translateY(20px);
                        font-weight: 600;
                    }
                }
            }
        }
        .award_buttons {
            display: flex;
            gap: 1.5rem;
            align-items: center;
            @media screen and (max-width: 998px) {
                position: absolute;
                left: -1000vw;
                top: 387px;
                display: inline-block;
                width: 95vw;
                text-align: left;
                background-color: $textWhite;
                transition: all 300ms ease;
            }
            .log {
                background-color: $btnBg;
                color: $loginColor;
                @media screen and (max-width: 998px) {
                    display: block;
                    background: transparent;
                    color: $black;
                    font-size: 14px;
                    font-weight: 600;
                    border-top: 1px solid $inputPlaceholder;
                    height: 50px;
                    transform: translateY(-2px);
                }
            }
            .create {
                background-color: $loginColor;
                color: $textWhite;
                @media screen and (max-width: 998px) {
                    display: block;
                    background: transparent;
                    color: $black;
                    font-size: 14px;
                    font-weight: 600;
                    border-top: 1px solid $inputPlaceholder;
                    border-bottom: 1px solid $inputPlaceholder;
                    height: 50px;
                }
            }
        }
    }
}
.sectionOne {
    background-color: $firstBg;
    .firstSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 110px;
        z-index: -2;
        .searchNorminate {
            width: 100%;
            display: flex;
            flex-direction: column;
            .searchHere {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 1.5rem;
                margin-bottom: 15px;
                @media screen and (max-width: 381px) {
                    gap: 1rem;
                }
                @media screen and (max-width: 310px) {
                    gap: 10px;
                }
                .searchInput {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1.5rem;
                    padding: 2px 16px;
                    border-radius: 4px;
                    border: 1px solid $inputPlaceholder;
                    @media screen and (max-width: 381px) {
                        padding: 2px 9px;
                        gap: 12px;
                    }
                    .searchIcon {
                        display: flex;
                    }
                    .input-control {
                        width: 40vw;
                        padding: 14px 13px;
                        font-size: 18px;
                        color: $colortext;
                        border: none !important;
                        outline: none;
                        background-color: transparent;
                        &::placeholder {
                            font-size: 16px;
                            font-weight: 500;
                        }
                        @media screen and (max-width: 381px) {
                            padding: 12px 4px;
                        }
                        @media screen and (max-width: 300px) {
                            padding: 10px 2px;
                        }
                    }
                }
                .search {
                    .me {
                        background-color: $loginColor;
                        color: $textWhite;
                        border: 1px solid $loginColor;
                        padding: 14px 28px;
                        @media screen and (max-width: 300px) {
                            padding: 10px 20px;
                        }
                    }
                }
            }
            .viewCart {
                display: flex;
                justify-content: center;
                align-items: baseline;
                gap: 9px;
                margin-bottom: 30px;
                .view {
                    font-size: 18px;
                    font-weight: 400;
                    color: $colortext;
                }
                i {
                    font-size: 16px;
                    color: $black;
                }
            }
        }
    }
}
.sectiontwo {
    background-image: url("/styles/CAImgs/sectiontwoBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: fit-content;
    @media screen and (max-width: 400px) {
        background-position-x: -146px;
    }
    .secondSection {
        .sectionTwo_Title {
            h2 {
                font-size: 48px;
                font-weight: 400;
                text-align: center;
                padding: 50px 0;
                padding-bottom: 80px;
                color: $textWhite;
                @media screen and (max-width: 466px) {
                    font-size: 36px;
                    font-weight: 500;
                }
            }
        }
    }
}
.sectionthree {
    position: relative;
    .thirdSection {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        padding: 48px 0;
        padding-top: 60px;
        @media screen and (max-width: 812px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .connectAward {
            img {
                width: 512px;
                height: 490px;
                border-radius: 4px;
                @media screen and (max-width: 1026px) {
                    width: 362px;
                    height: 372px;
                }
            }
        }
        .award_content {
            flex-basis: 33%;
            h2 {
                font-size: 30px;
                font-weight: 600;
                color: $colortext;
                margin-bottom: 20px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -0.39rem;
                    left: 0.5%;
                    width: 80px;
                    height: 3px;
                    background-color: $titleColor;
                }
                @media screen and (max-width: 1114px) {
                    font-size: 25px;
                }
                @media screen and (max-width: 1114px) {
                    font-size: 20px;
                }
            }
            p {
                color: $colortext;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 40px;
                @media screen and (max-width: 956px) {
                    font-size: 15px;
                }
            }
            .learn {
                background-color: $loginColor;
                color: $textWhite;
                border: 1px solid $loginColor;
            }
        }
    }
    .leftSide {
        position: absolute;
        top: 421px;
        right: 0;
        @media screen and (max-width: 1026px) {
            width: 10%;
            top: 383px;
        }
        @media screen and (max-width: 912px) {
            width: 11.5%;
        }
        @media screen and (max-width: 812px) {
            top: 635px;
        }
        @media screen and (max-width: 806px) {
            width: 12%;
            top: 660px;
        }
        @media screen and (max-width: 695px) {
            width: 13%;
        }
        @media screen and (max-width: 625px) {
            top: 693px;
        }
        @media screen and (max-width: 520px) {
            top: 724px;
            width: 15%;
        }
    }
}
.sectionfour {
    position: relative;
    .fourthSection {
        display: flex;
        justify-content: space-between;
        padding: 48px 0;
        padding-top: 45px;
        @media screen and (max-width: 812px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            row-gap: 2rem;
        }
        .celebrity_content {
            flex-basis: 33%;
            h2 {
                font-size: 30px;
                font-weight: 600;
                color: $colortext;
                margin-bottom: 20px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -0.39rem;
                    left: 0.5%;
                    width: 80px;
                    height: 3px;
                    background-color: $titleColor;
                }
                @media screen and (max-width: 918px) {
                    font-size: 20px;
                }
            }
            p {
                color: $colortext;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 40px;
                @media screen and (max-width: 918px) {
                    font-size: 14px;
                }
            }
            .learn {
                background-color: $loginColor;
                color: $textWhite;
                border: 1px solid $loginColor;
            }
        }
        .celebrityAward {
            display: grid;
            gap: 15px;
            grid-template-columns: auto auto;
            @media screen and (max-width: 1026px) {
                width: 50%;
            }
            @media screen and (max-width: 694px) {
                width: 98%;
            }
        }
    }
}
.sectionFive {
    .fifthSection {
        padding: 53px 0;
        @media screen and (max-width: 812px) {
            padding: 88px 0;
        }
        .iconFour {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media screen and(max-width:947px) {
                row-gap: 3rem;
            }
            @media screen and(max-width:633px) {
                justify-content: center;
            }
            .secFour {
                border: 1px solid $inputPlaceholder !important;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 350px;
                height: 321px;
                flex-direction: column;
                box-shadow: 0px 0 4px $inputPlaceholder;
                padding: 12px;
                @media screen and (max-width: 1209px) {
                    width: 300px;
                }
                @media screen and (max-width: 1007px) {
                    width: 285px;
                }
                img {
                    margin-bottom: 20px;
                }
                h3 {
                    font-size: 28px;
                    font-weight: 600;
                    text-align: center;
                    color: $loginColor;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 16px;
                    font-weight: 300;
                    text-align: center;
                    color: $colortext;
                }
            }
        }
    }
}
.footer {
    background-image: url("/styles/CAImgs/footerBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: 600px) {
        background-position-x: center;
    }

    .footerRow {
        display: flex;
        gap: 9rem;
        padding: 50px 0;
        padding-bottom: 60px;
        flex-wrap: wrap;
        @media screen and (max-width: 1113px) {
            gap: 4rem;
        }
        @media screen and (max-width: 846px) {
            row-gap: 1.5rem;
        }
        @media screen and (max-width: 568px) {
            justify-content: center;
        }
        .footerCol {
            @media screen and (max-width: 568px) {
                width: 36%;
            }
            h4 {
                color: $titleColor;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 25px;
            }
            ul {
                li {
                    margin-bottom: 20px;
                    a {
                        color: $textWhite;
                        font-weight: 400;
                        font-size: 16px;
                        &:hover {
                            padding-left: 4px;
                        }
                        @media screen and (max-width: 568px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .footerLogo {
        margin-bottom: 15px;
        @media screen and (max-width: 500px) {
            margin-bottom: 8px;
        }
        img {
            @media screen and (max-width: 400px) {
                width: 41%;
            }
        }
    }
    .copyRitearea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $textWhite;
        padding-bottom: 80px;
        @media screen and (max-width: 500px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: baseline;
            row-gap: 3rem;
        }
        p,
        span {
            font-size: 16px;
            font-weight: 400;
            @media screen and (max-width: 500px) {
                font-size: 12px;
            }
        }
    }
}
// Landing page end

// login starts here
.loginArea {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/pages/img/formBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .form_content {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }
    .loginCard {
        background-color: $textWhite;
        width: 547px;
        height: 655px;
        padding: 2rem;
        @media screen and (max-width: 500px) {
            width: 661px;
            padding: 13px;
        }
        .headingside {
            display: flex;
            flex-direction: column;
            text-align: center;
            h2 {
                color: $colortext;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 20px;
                @media screen and (max-width: 500px) {
                    font-size: 18px;
                }
            }
            h6 {
                color: $colortext;
                font-size: 18px;
                font-weight: 600;
                @media screen and (max-width: 500px) {
                    font-size: 16px;
                }
            }
            p {
                color: $colortext;
                font-size: 16px;
                font-weight: 600;
                @media screen and (max-width: 500px) {
                    font-size: 14px;
                }
                a {
                    color: $titleColor;
                }
            }
            .goggle {
                display: flex;
                align-items: center;
                gap: 6px;
                justify-content: center;
                font-size: 14px;
                font-weight: 600;
                border: 1px solid $firstBg;
                background-color: $firstBg;
                margin-bottom: 15px;

                &:focus {
                    box-shadow: none;
                    outline: none;
                    border: 2px solid $inputPlaceholder;
                }
            }
            .option {
                position: relative;
                color: $Orcolor;
                font-size: 14px;
                font-weight: 300;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                @media screen and (max-width: 500px) {
                    font-size: 12px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 0.5%;
                    width: 213px;
                    height: 1px;
                    background-color: $Orcolor;
                    @media screen and (max-width: 500px) {
                        width: 110px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    right: 0.5%;
                    width: 213px;
                    height: 1px;
                    background-color: $Orcolor;
                    @media screen and (max-width: 500px) {
                        width: 110px;
                    }
                }
            }
        }
        .myForm {
            .form-label {
                color: $colortext;
                font-size: 14px;
                font-weight: 600;
            }
            .loginBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                button {
                    background-color: $loginColor;
                    color: $textWhite;
                    font-weight: 600;
                    width: 100%;
                }
            }
            .forgetPass {
                display: block;
                font-size: 14px;
                font-weight: 500;
                color: $loginColor;
                text-align: center;
            }
        }
    }
}
// login ends here

// sigup starts here
.signupArea {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/pages/img/formBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .form_content {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }
    .sigupCard {
        background-color: $textWhite;
        width: 547px;
        height: fit-content;
        margin: 20px 0;
        padding: 2rem;
        @media screen and (max-width: 500px) {
            width: 661px;
            padding: 13px;
        }
        .headingside {
            display: flex;
            flex-direction: column;
            text-align: center;
            h2 {
                color: $colortext;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 20px;
                @media screen and (max-width: 500px) {
                    font-size: 18px;
                }
            }
            h6 {
                color: $colortext;
                font-size: 18px;
                font-weight: 600;
                @media screen and (max-width: 500px) {
                    font-size: 16px;
                }
            }
            p {
                color: $colortext;
                font-size: 16px;
                font-weight: 600;
                @media screen and (max-width: 500px) {
                    font-size: 14px;
                }
                a {
                    color: $titleColor;
                }
            }
            .goggle {
                display: flex;
                align-items: center;
                gap: 6px;
                justify-content: center;
                font-size: 14px;
                font-weight: 600;
                border: 1px solid $firstBg;
                background-color: $firstBg;
                margin-bottom: 15px;

                &:focus {
                    box-shadow: none;
                    outline: none;
                    border: 2px solid $inputPlaceholder;
                }
            }
            .option {
                position: relative;
                color: $Orcolor;
                font-size: 14px;
                font-weight: 300;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                @media screen and (max-width: 500px) {
                    font-size: 12px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 0.5%;
                    width: 213px;
                    height: 1px;
                    background-color: $Orcolor;
                    @media screen and (max-width: 500px) {
                        width: 110px;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    right: 0.5%;
                    width: 213px;
                    height: 1px;
                    background-color: $Orcolor;
                    @media screen and (max-width: 500px) {
                        width: 110px;
                    }
                }
            }
        }
        .myForm {
            .form-label {
                color: $colortext;
                font-size: 14px;
                font-weight: 600;
            }
            .signupBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                button {
                    background-color: $loginColor;
                    color: $textWhite;
                    font-weight: 600;
                    width: 100%;
                }
            }
            .forgetPass {
                display: block;
                font-size: 14px;
                font-weight: 500;
                color: $loginColor;
                text-align: center;
            }
        }
        .form_check {
            text-align: center;
            width: 100%;
            label {
                font-size: 13px;
                font-weight: 600;
                color: $colortext;
                width: 101%;
                span {
                    color: $titleColor;
                }
            }
        }
    }
}
// sigup ends here

// connection starts here
.connect {
    border-bottom: 1px solid $btnBg;
    .Awardnav {
        .award_buttons {
            display: flex;
            @media screen and (max-width: 998px) {
                position: relative;
                top: 0;
                left: 0;
                transition: all 300ms ease;
                justify-content: flex-end;
            }
            .log {
                @media screen and (max-width: 998px) {
                    display: none;
                }
            }
            .create {
                @media screen and (max-width: 998px) {
                    background: $loginColor;
                    color: $textWhite;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}
.awards {
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 40px;
        .title_area {
            margin: 40px 0;
            text-align: center;
            h2 {
                color: $colortext;
                font-weight: 600;
                font-size: 30px;
                @media screen and (max-width: 375px) {
                    font-size: 25px;
                }
            }
            p {
                color: $titlePage;
                font-size: 20px;
                font-weight: 300;
                @media screen and (max-width: 375px) {
                    font-size: 16px;
                }
            }
        }
        .connect_img {
            width: 100%;
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
        .global {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 992px) {
                flex-direction: column;
                align-items: center;
                text-align: justify;
                row-gap: 30px;
            }
            .text_title {
                flex-basis: 45%;
                h2 {
                    color: $colortext;
                    font-size: 40px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    @media screen and (max-width: 1323px) {
                        font-size: 30px;
                    }
                    @media screen and (max-width: 1034px) {
                        font-size: 24px;
                    }
                    @media screen and (max-width: 357px) {
                        font-size: 20px;
                    }
                }
                p {
                    font-size: 16px;
                    font-weight: 500;
                    width: 80%;
                    color: $black;
                    @media screen and (max-width: 1034px) {
                        font-size: 14px;
                    }
                    @media screen and (max-width: 992px) {
                        width: 100%;
                    }
                }
            }

            .second_img {
                display: flex;
                justify-content: end;
                @media screen and (max-width: 992px) {
                    justify-content: center;
                }
                img {
                    width: 90%;
                }
            }
        }
    }
}
// connection ends here

// donation starts here
.donate {
    border-bottom: 1px solid $btnBg;
}
.award_account {
    p {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        color: $black;
        cursor: pointer;
        @media screen and (max-width: 992px) {
            justify-content: initial;
            padding-left: 20px;
            gap: 12px;
            margin-bottom: 20px;
        }
        span {
            font-size: 18px;
            color: $colortext;
            font-weight: 600;
        }
    }
    .Lightling{
       height: 54px;
    }
}
.mainAreaD {
    padding-bottom: 20vh;
}
.donateArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .donate_title {
        margin: 40px 0;
        text-align: center;
        h2 {
            color: $colortext;
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p {
            color: $titlePage;
            font-size: 20px;
            font-weight: 300;
        }
    }
    .firstContent {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        @media screen and (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 30px;
        }
        p {
            color: $black;
            flex-basis: 50%;
            font-size: 20px;
            font-weight: 500;
            @media screen and (max-width: 1300px) {
                font-size: 16px;
            }
            @media screen and (max-width: 1140px) {
                font-size: 15px;
            }
            @media screen and (max-width: 992px) {
                text-align: justify;
            }
        }
        img {
            @media screen and (max-width: 1300px) {
                width: 40%;
            }
            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }
    }
    .secondContent {
        display: flex;
        justify-content: space-between;
        position: relative;
        @media screen and (max-width: 992px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
        }
        p {
            color: $black;
            flex-basis: 50%;
            font-size: 20px;
            font-weight: 500;
            @media screen and (max-width: 1300px) {
                font-size: 16px;
            }
            @media screen and (max-width: 1140px) {
                font-size: 15px;
            }
            @media screen and (max-width: 992px) {
                text-align: justify;
            }
        }
        img {
            position: absolute;
            right: -20px;
            top: -241px;
            width: 40%;
            @media screen and (max-width: 1220px) {
                top: -200px;
            }
            @media screen and (max-width: 1140px) {
                top: -150px;
            }
            @media screen and (max-width: 992px) {
                position: initial;
                width: 100%;
            }
        }
    }
}
// donation ends here
